.login-page-wrap {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
}

.login-area {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 550px;
  /* width: 50%; */
  min-width: 350px;
  flex: 0.8;
}

.login-area .welcome {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2rem;
  color: #242424;
}

.login-banner {
  /* position: fixed; */
  right: 0;
  top: 0.5vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #242424;
  flex: 1;
  height: 99vh;
  /* width: 52%; */
  margin-right: 0.5vh;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  color: white;
  flex: 1;
}

@media only screen and (max-width: 665px) {
  .login-banner {
    display: none;
  }
  .login-area {
    flex: 1;
  }
}

.login-banner > div {
  font-size: 0.7rem;
  letter-spacing: 2rem;
  width: 50%;
  margin: 0 5%;
  padding: 0;
  opacity: 0.1;
  font-weight: bold;
  animation: letter-zoom 7s linear 0s forwards normal;
}

.login-banner > div.neon {
  color: var(--activated-color);
  opacity: 1;
  animation: letter-zoom 7s linear 0s forwards normal,
    flicker 6s linear 0s infinite forwards normal;
}

@keyframes letter-zoom {
  0% {
    letter-spacing: initial;
    font-size: 0.5rem;
  }
  100% {
    letter-spacing: 2rem;
    font-size: 6rem;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0.2;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: 0.2;
  }
  4% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
