.login-page-wrap {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
}

.login-area {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 550px;
  /* width: 50%; */
  min-width: 350px;
  flex: 0.8;
}

.login-area .welcome {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2rem;
  color: #242424;
}

.login-banner {
  /* position: fixed; */
  right: 0;
  top: 0.5vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #242424;
  flex: 1;
  height: 99vh;
  /* width: 52%; */
  margin-right: 0.5vh;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  color: white;
  flex: 1;
}

@media only screen and (max-width: 665px) {
  .login-banner {
    display: none;
  }
  .login-area {
    flex: 1;
  }
}

.login-banner > div {
  font-size: 6rem;
  letter-spacing: 2rem;
  width: 50%;
  margin: 3% 5%;
  opacity: 0.1;
  font-weight: bold;
}
