form.auth {
  /* background-color: rgba(250, 250, 250, 0.8); */
  width: 50%;
  min-width: 400px;
  max-width: 30vw;
  min-height: 50%;
  margin: auto;
  border-radius: 20px;
}

form.auth .logo {
  width: 100%;
}

form.auth .logo img {
  display: block;
  width: 20%;
  margin: 0 auto;
}

form.auth .input-wrap {
  display: flex;
  align-items: center;
  background-color: var(--input-bg-color);
  margin: 1rem auto;
  border-radius: 10px;
  border: var(--light-border);
  width: 90%;
  overflow: hidden;
}

form.auth .input-wrap .icon {
  display: block;
  color: rgba(90, 90, 90, 0.3);
  font-size: 1.2rem;
  font-weight: bolder;

  text-align: center;
  width: 2.5rem;
  transform: translate(0, -2px);
  transition-duration: 0.25s;
}

form.auth .input-wrap .icon.activated {
  color: var(--activated-color);
  transition-duration: 0.25s;
}

form.auth input {
  display: block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
  padding: 15px;
  color: #232323;
  font-weight: 500;
}

form.auth .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
}

form.auth .buttons-container button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

form.auth .buttons-container button.google {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: #232323;
  border: var(--light-border);
}

form.auth .buttons-container button.google img {
  width: 1.3rem;
  margin: 0 0.5rem;
}

form.auth .forgot {
  align-self: flex-end;
  margin-right: 30px;
  width: fit-content;
  text-align: end;
  color: #232323;
  font-size: 0.7rem;
  cursor: pointer;
}

form.auth .signup {
  font-weight: bold;
  font-size: 0.9rem;
  width: 90%;
  text-align: center;
  cursor: pointer;
  color: #232323;
  margin: auto;
}

form.auth .forgot:hover,
form.auth .signup:hover {
  color: var(--activated-color);
}
