.selector-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.selector-window .main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 10px;
  background-color: white;
  width: 50%;
  height: 60%;
  border-radius: 15px;
  border: var(--light-border);
  box-shadow: 0 0 150px 1px rgba(0, 0, 0, 0.5);
}

.selector-window .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.selector-window .body {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1; */
  margin-top: 2.5rem;

  flex: 1 1 auto; /* take remaining space */
  overflow-y: auto; /* scroll only vertically inside */
  display: flex;
  flex-wrap: wrap; /* optional if you want wrapping */
  gap: 1rem;
  padding: 1rem;
  background: #fff;
}

.selector-window .body > div {
  height: fit-content;
}
