:root {
  --element-card-width: 210px;
  --element-card-height: 210px;
  --text-padding: 20px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 50px 10%;
}

@media only screen and (max-width: 665px) {
  .list-container {
    justify-content: center;
  }
}

.element-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: var(--element-card-width); */
  margin: 0.5rem;
}

.element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: var(--element-card-width);
  height: var(--element-card-height);
  border: var(--light-border);
  border-radius: 15px;
  background-color: white;
  cursor: pointer;

  overflow: hidden;
  z-index: 2;
}
.element.small {
  --element-card-width: 170px;
  --element-card-height: 80px;
}
.element.medium {
  --element-card-width: 200px;
  --element-card-height: 220px;
}
.element.selected {
  outline: var(--selected-border);
  box-shadow: 0px 0px 13px 1px #00000022;
}

.element:hover,
.element.not-hover {
  box-shadow: 0px 0px 10px 1px #00000022;
}

.element-text {
  /* height: 38%; */
  min-height: fit-content;
  padding: 0 var(--text-padding);
  background-color: #ebebeb55;
}
.element.small .element-text {
  min-height: 10px;
}
.element.medium .element-text {
  min-height: 30px;
}

/* .element.add-new .element-text {
  height: 20%;
} */

.element-image {
  width: var(--element-card-width);
  height: var(--element-card-height);
  flex: 1;
  overflow: hidden;
  text-align: center;
}

/* .element.add-new .element-image {
  flex: 1;
} */

.element-image img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  opacity: 0.9;
}
.small .element-image img {
  height: 68%;
  width: auto;
}
.medium .element-image img {
  height: 90%;
  width: auto;
}

.element-name {
  border-top: 2px solid #eeeeeeff;
  width: 100%;
  font-weight: bold;
  padding: 0;
  /* TODO: fix this */
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.element .title {
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.element-description {
  font-size: 0.7rem;
  color: #00000099;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.creator {
  position: absolute;
  top: 0;
  border-bottom-right-radius: 10px;
  padding: 3px 7px;
  background-color: var(--activated-color);
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  z-index: 10;
}

.creator:hover {
  color: #ffffff88;
}

.hashtag {
  display: inline-block;
  font-size: 0.65rem;
  font-weight: 400;
  width: 100%;
  color: var(--activated-color);
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  border: var(--light-border);
  width: 1.5rem;
  height: 1.5rem;
  padding: 15px;
  background-color: var(--input-bg-color);
  color: black;
}

.favorite img {
  width: 1rem;
}

.favorite:hover {
  background-color: #d5d5d555;
}

.element-wrap .footer {
  display: flex;
  flex-direction: column;
  width: calc(var(--element-card-width) - 45px);
  padding: 30px 0 0 0;
  border-radius: 15px;
  background-color: var(--input-bg-color);
  color: black;
  font-size: 0.85rem;
  font-weight: 500;
  transform: translate(0, -35px);
  z-index: 0;
  overflow: hidden;
}

.element-wrap .footer > div {
  padding: 5px 0;
  padding: 10px;
  border-bottom: 0.5px solid rgba(30, 30, 30, 0.1);
  /* word-break: break-all; */
  line-break: loose;
}

.element-wrap .footer > .clickable {
  cursor: pointer;
}

.element-wrap .footer > .selected {
  background-color: var(--activated-color);
  color: white;
}

.element-wrap .footer > div > span {
  margin-right: 0.5rem;
}
